.list {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 16px;

    list-style: none;
}

.row {
    flex-flow: row wrap;
}

.grid{
    list-style: none;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}