.article > *:first-child {
    margin-top: 0;
}
.article > h1 {
    margin-top: 2.5rem;
    text-align: center;
}
.article > h2 {
    margin-top: 2rem;
}
.article > h3 {
    margin-top: 1.5rem;
}
.article > h4 {
    margin-top: 1.1rem;
}
.article > p {
    margin-top: 0.5rem;
    text-align: justify;
}
.article ol, .article ul {
    margin-top: 0.5rem;
    margin-left: 2rem;

    font-family: var(--font-inter), sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3rem;

    text-align: justify;
}