.footer {
    border-top: 1px solid var(--color--border);
    text-align: center;
}

.content{
    display: flex;
    flex-flow: column nowrap;
    gap: 24px;
}

@media screen and (min-width: 768px) {
    .content{
        width: 100%;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
    }
}