:root {
  --color--background: #FDFFFC;
  --color--on-background: #011627;
  --color--surface: #ffffff;
  --color--on-surface: #000000;
  --color--surface-variant: #EBF6FE;
  --color--border: #000000;
  --color--primary: #FF9F1C;
  --color--on-primary: #011627;
  --color--secondary: #676C79;
  --color--on-secondary: #ffffff;
  --color--tertiary: #41EAD4;
  --color--on-tertiary: #000000;
  --color--accent: #60A5FA;
  --color--on-accent: #000000;
  --color--error: #F71735;
  --color--on-error: #EBF6FE;
  --color--shadow: #00000054;
  --color--overlay: #0A1128;

  --border--radius: 8px;
  --backdrop--blur: blur(20px);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color--background);
  color: var(--color--on-background);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*[tabindex]:focus-visible {
  outline: 1px dashed var(--color--border);
  outline-offset: 2px;
}

:target {
  scroll-margin-top: 100px;
}