.container{
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.hero, .howItWorks{
    min-height: calc(100vh - 60px);
    text-align: center;
}
.heroActions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.heroActions > * {
    width: 130px !important;
}
.illustrationContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.illustration{
    padding: 0px 40px;
    width: 100%;
    max-width: 500px;
    min-width: 260px;
    height: auto;
}

.steps {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 24px;
}

@media (max-width: 768px) {
    .steps {
      grid-template-columns: 1fr;
      gap: 24px;
    }
}